<div class="cart-summary">
  <div class="header">Summary</div>
  <div class="content">
    <div class="quantity"></div>
    <div class="total"></div>
    <div class="discount-total"></div>
    <div class="applied-codes">
      <div class="header">Applied codes</div>
      <div class="applied-codes-list"></div>
    </div>

    <input class="promo-input" placeholder="Enter promo code">
    <div class="promo-found-code"></div>
    <div class="promo-input-hint"></div>

    <button class="buy">BUY NOW</button>
  </div>
</div>