.gallery {
  display: flex;

  .previews {
    width: 100px;
  }

  .image-wrapper {
    position: relative;
    margin-left: 20px;
    overflow: hidden;
  }

  .main-image {
    object-fit: contain;
  }

  .zoom-image {
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(1.5);
    display: none;
    pointer-events: none;
  }

  .main-image:hover {
    opacity: 0;

    &~.zoom-image {
      display: block;
    }
  }
}