<div class="cart-list-item">
  <div class="index"></div>
  <img class="image">
  <div class="info">
    <div class="title"></div>
    <div class="description"></div>
    <div class="sub-info">
      <div class="rating"></div>
      <div class="discount"></div>
    </div>
  </div>
  <div class="actions">
    <div class="stock"></div>
    <div class="buttons">
      <button class="increment">+</button>
      <div class="quantity"></div>
      <button class="decrement">-</button>
    </div>
    <div class="price"></div>
  </div>
</div>